.button {
    display: inline-block;
    width: max-content;
    cursor: pointer;
    padding: 10px 18px;
    background-color: $main1;
    border-radius: 10px;
    border: solid 1px $main1;
    transition: background-color 0.4s ease-in-out, border 0.4s ease-in-out, color 0.3s ease-in-out;
    font-family: $titleFont;
    font-size: $normalSize;
    color: $white;

    &:hover {
        background-color: $white;
        color: $main1;
    }

    // ----------- Colors
    &--light {
        background-color: $main5;
        border: solid 1px $main5;
        color: $main1;

        &:hover {
            border: solid 1px $main1;
        }

        > a {
            color: $main1;
        }
    }
    &--red {
        background-color: $red;
        border: solid 1px $red;
        color: $white;

        &:hover {
            background-color: $white;
            color: $red;
        }

        > a {
            color: $white;
        }
    }
    &--white {
        background-color: $white;
        border: solid 1px $white;
        color: $main1;

        &:hover {
            border: solid 1px $main1;
        }

        > a {
            color: $main1;
        }
    }
    &--red {
        background-color: $red;
        border: solid 1px $red;
        color: $white;

        &:hover {
            background-color: $white;
            color: $red;
        }

        > a {
            color: $white;
        }
    }

    // ----------- Sizes
    &--fullwidth {
        width: 100%;
    }
    &--small {
        padding: 10px 18px;
        font-size: $smallSize;
    }
}
