/*********************************************
    FLASH GLOBALS
*********************************************/

.flash {
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 20px;



    &__container {
        display: flex;
        flex-direction: column-reverse;
        gap: 8px;
        align-items: flex-end;
        justify-content: center;
        width: 100%;

        &__type {
            border-radius: 14px;
            padding: 15px 15px;
            width: 200px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

            animation: ease-in-out 0.4s flash__animation;

            @keyframes flash__animation {
                0% {
                    transform: translateX(100%);
                }
                100% {
                    transform: translateX(0);
                }
            }

            &--success {
                background-color: lighten($appleGreen, 22%);

                > .flash__container__type__name {
                    color: $darkGreen;
                }
                > .flash__container__type__message {
                    color: $darkGreen;
                }
            }

            &--error {
                background-color: lighten($red, 20%);

                > .flash__container__type__name {
                    color: $darkRed;
                }
                > .flash__container__type__message {
                    color: $darkRed;
                }
            }

            &__name {
                font-family: $textFont;
                font-size: $smallSize;
                font-weight: 600;
                margin-bottom: 7px;
                line-height: 1.2;
            }

            &__message {
                font-family: $textFont;
                font-size: $smallSize;
                font-weight: 400;
                line-height: 1.5;
            }
        }
    }
}
