/*********************************************
FORMS
*********************************************/

// form
form {
    // INPUTS ------------------------------
    input[type="text"], input[type="email"], input[type="password"], input[type="search"], input[type="tel"], input[type="url"], input[type=datetime-local], textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 10px;
        border: 2px solid $main1;
        box-shadow: none;
        display: block;
        font-size: 1rem;
        font-family: $textFont;
        line-height: 1.5;
        padding: 12px 18px;
        transition: border-color 0.15s $ease, box-shadow 0.4s $ease;
        width: 100%;
        box-sizing: border-box;

        &:focus {
            box-shadow: 0 0 5px 1px $main1;
            outline: 0;
            border: 2px solid $main3;
        }

        &::placeholder {
            color: $grey;
        }
    }

    // SELECT ------------------------------
    select {
        outline: none;
    }

    // LABEL ------------------------------
    label {
        font-family: $titleFont;
        color: $label;
        text-transform: none;
        font-weight: 500;
        font-size: $mediumSize;
        opacity: 1;
    }

    // FORMS PARTS ------------------------------
    .form__email, .form__password, .form__firstname, .form__lastname, .form__title, .form__name, .form__description, .form__date {
        margin-bottom: 20px;

        > label {
            display: inline-block;
            margin-bottom: 8px;
        }

        &__forgot {
            display: inline-block;
            margin-left: 10px;
            font-family: $textFont;
            font-size: $smallSize;
            color: $main3;
            text-decoration: underline;
            transition: color 0.15s $ease;
            margin-top: 10px;

            &:hover {
                color: $main1;
            }
        }
    }

    .form__password {

        &__visibility {
            position: relative;

            &__button {
                position: absolute;
                right: 6px;
                bottom: 12px;
                background: none;
                border: none;

                &:hover {
                    cursor: pointer;
                }

                &__svg {
                    fill: $main1;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .form__avatar {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

        &__preview {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 20px;
            pointer-events: none;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__label {
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            &__iconWrapper {
                position: absolute;
                padding: 16px;
                background-color: $main1;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                right: 50%;
                transform: translate(calc(50% + 30px));
                bottom: 0;
                z-index: 2;
                cursor: pointer;

                &:hover {
                    transition: background-color .4s $ease;
                    background-color: darken($main1, 15%);
                }

                &__icon {
                    fill: $white;
                    width: 17px;
                    height: 17px;
                }

                > input[type='file'] {
                    display: none;
                }
            }
        }
    }

    .form__columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    // BUTTONS ------------------------------
    .form__buttonContainer {
        text-align: right;
    }

    // ERROR --------------------------------
    .formErrorList {
        &__item {
            color: $red;
            font-weight: lighter;
            margin-top: 10px;
            margin-left: 10px;
            font-family: $textFont;
            font-size: $smallSize;
        }
    }

    .errorContainer {
        position: absolute;
        top: calc(100% + 5px);
        left: 0;

        &__error {
            font-family: $textFont;
            color: $red;
            font-size: $smallSize;
            font-weight: normal;
        }
    }

    // SUCCESS --------------------------------
    .success {
        background-color: lighten($green, 34%);
        display: flex;
        align-items: center;
        padding: 15px 20px;
        border-radius: 5px;

        &__icon {
            fill: $green;
            width: 20px;
            height: 20px;
        }

        &__text {
            padding-left: 10px;
            font-family: $textFont;
            font-size: $smallSize;
            font-weight: normal;
            color: $green;
        }
    }

    //textarea
    textarea {
        width: 100%;
        max-width: 100%;
        min-height: 180px;
        resize: vertical;
        font-size: $normalSize;
        font-family: $textFont;
        font-weight: normal;
    }
}

// checkbox
input[type="checkbox"] {
    accent-color: $main1;
    border-radius: 10px;
}

// jiriCreateForm ------------------------------
.jiriCreateForm {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: "text text" "steps forms";
    gap: 40px;
    grid-template-columns: 2fr 98fr;
    grid-template-rows: 10fr 90fr !important;

    &__textContainer {
        grid-area: text;

        &__title {

        }

        &__text {
            font-family: $textFont;
            font-size: $normalSize;
            color: $lightBlack;
            line-height: 1.4;
        }
    }

    &__stepsContainer {
        grid-area: steps;
        position: relative;
        transform: translateY(-10px);

        &__line {
            // make a vertical line positionned at the left of the form
            height: 100%;
            display: inline-block;
            border-radius: 20px;
            border: solid 2px $main4;
        }

        &__pointsContainer {
            position: absolute;
            top: 0;
            left: -9px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            &__point {
                position: relative;
                width: 22px;
                height: 22px;
                background-color: $main1;
                border-radius: 50%;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                    transition: transform 0.4s $ease;
                }

                &--focus {
                    box-shadow: 0 0 5px 3px $main1;
                    background-color: $white;

                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 12px;
                        height: 12px;
                        background-color: $main1;
                        border-radius: 50%;
                    }
                }
            }
        }

    }

    &__infos {
        grid-area: forms;
        overflow-y: scroll;
        position: relative;
        padding: 60px 50px;
        border-radius: 14px;
        display: grid;
        grid-template-columns: 50fr 50fr;
        grid-template-rows: 25fr 25fr 50fr;
        grid-template-areas: "name name" "start end" ". button";
        align-items: start;
        justify-content: space-between;
        gap: 0 60px;
        background-color: lighten($main6, 2.6%);
        box-shadow: 0 0 10px 0px $main1;

        &__name {
            grid-area: name;
        }

        &__start {
            grid-area: start;
        }

        &__end {
            grid-area: end;
        }

        &__button {
            grid-area: button;
            align-self: end;
            justify-self: end;
        }
    }

    &__projects {
        grid-area: forms;
        padding: 50px 50px;
        border-radius: 14px;
        background-color: lighten($main6, 2.6%);
        box-shadow: 0 0 10px 0px $main1;

        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 90fr 10fr;
        grid-template-areas: "list selected" ". button";
        align-items: start;
        justify-content: space-between;
        gap: 0 100px;

        overflow-y: hidden;

        &__listContainer {
            grid-area: list;
            overflow-y: hidden;
            height: 100%;

            &__top {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;

                &__label {
                    font-family: $titleFont;
                    color: $label;
                    text-transform: none;
                    font-weight: 500;
                    font-size: $mediumSize;
                    opacity: 1;
                }
            }

            &__bottom {
                overflow-y: scroll;
                height: 100%;
            }

            &__list {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap: 5px;

                &__item {
                    background-color: $main5;
                    padding: 15px 0;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    > span {
                        font-family: $textFont;
                        font-size: $normalSize;
                        color: $lightBlack;
                        line-height: 1.4;
                        padding-left: 30px;
                    }

                    > a {
                        padding-right: 30px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        &:hover {
                            > p {
                                transition: color 0.4s $ease;
                                color: $main2;
                            }

                            > svg {
                                fill: $main2;
                                transition: transform 0.4s $ease, fill 0.4s $ease;
                                transform: scale(1.1) translateX(3px);
                            }
                        }

                        > p {
                            font-family: $textFont;
                            font-size: $smallSize;
                            color: $main1;
                            line-height: 1.4;
                        }

                        > svg {
                            width: 13px;
                            height: 13px;
                            fill: $main1;
                        }
                    }
                }
            }
        }

        &__selectedContainer {
            grid-area: selected;
            overflow-y: hidden;
            height: 100%;

            &__label {
                margin-top: 15px;
                margin-bottom: 30px;
                font-family: $titleFont;
                color: $label;
                text-transform: none;
                font-weight: 500;
                font-size: $mediumSize;
                opacity: 1;
            }

            &__bottom {
                overflow-y: scroll;
                height: 100%;
            }

            &__list {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap: 5px;

                &__item {
                    background-color: $main5;
                    padding: 15px 0;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    > span {
                        font-family: $textFont;
                        font-size: $normalSize;
                        color: $lightBlack;
                        line-height: 1.4;
                        padding-left: 30px;
                    }

                    > a {
                        padding-right: 30px;
                        cursor: pointer;

                        > svg {
                            width: 20px;
                            height: 20px;
                            fill: $main2;
                        }
                    }
                }
            }
        }

        &__button {
            grid-area: button;
            align-self: end;
            justify-self: end;
        }
    }

    &__contacts {
        grid-area: forms;
        overflow-y: scroll;
        position: relative;
        background-color: $white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 20px;

        &__point {
            position: absolute;
            top: 50%;
            left: -40px;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: $main1;
        }

        &__listContainer {

            &__top {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;

                &__label {
                    font-family: $titleFont;
                    color: $label;
                    text-transform: none;
                    font-weight: 500;
                    font-size: $mediumSize;
                    opacity: 1;
                }
            }

            &__bottom {
                height: 300px;
                overflow-y: scroll;
            }

            &__list {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap: 5px;

                &__item {
                    background-color: $main5;
                    padding: 15px 0;
                    border-radius: 10px;
                    display: grid;
                    grid-template-columns: 3fr 3fr 6fr 1fr 1fr;
                    align-items: center;
                    justify-content: start;
                    width: 100%;

                    > span {
                        font-family: $textFont;
                        font-size: $normalSize;
                        color: $lightBlack;
                        line-height: 1.4;

                        &:first-of-type {
                            padding-left: 30px;
                        }
                    }

                    > a {
                        justify-self: end;
                        cursor: pointer;

                        &:last-of-type {
                            padding-right: 30px;
                        }

                        > svg {
                            width: 15px;
                            height: 15px;
                            fill: $main2;
                        }
                    }
                }
            }
        }

        &__selectedContainer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0 100px;

            &__jury {

                &__label {
                    margin-top: 30px;
                    margin-bottom: 15px;
                    font-family: $titleFont;
                    color: $label;
                    text-transform: none;
                    font-weight: 500;
                    font-size: $mediumSize;
                    opacity: 1;
                }

                &__listContainer {
                    height: 300px;
                    overflow-y: scroll;

                    &__list {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        gap: 5px;

                        &__item {
                            background-color: $main5;
                            padding: 15px 0;
                            border-radius: 10px;
                            display: grid;
                            grid-template-columns: 2fr 2fr 3fr 1fr 1fr;
                            align-items: center;
                            justify-content: start;
                            width: 100%;


                            > span {
                                font-family: $textFont;
                                font-size: $normalSize;
                                color: $lightBlack;
                                line-height: 1.4;

                                &:first-of-type {
                                    padding-left: 30px;
                                }
                            }

                            > a {
                                justify-self: end;
                                cursor: pointer;

                                &:last-of-type {
                                    padding-right: 30px;
                                }

                                > svg {
                                    width: 20px;
                                    height: 20px;
                                    fill: $main2;
                                }
                            }
                        }
                    }
                }
            }

            &__student {

                &__label {
                    margin-top: 30px;
                    margin-bottom: 15px;
                    font-family: $titleFont;
                    color: $label;
                    text-transform: none;
                    font-weight: 500;
                    font-size: $mediumSize;
                    opacity: 1;
                }

                &__listContainer {
                    height: 300px;
                    overflow-y: scroll;

                    &__list {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        gap: 5px;

                        &__item {
                            background-color: $main5;
                            padding: 15px 0;
                            border-radius: 10px;
                            display: grid;
                            grid-template-columns: 2fr 2fr 3fr 1fr 1fr;
                            align-items: center;
                            justify-content: start;
                            width: 100%;

                            > span {
                                font-family: $textFont;
                                font-size: $normalSize;
                                color: $lightBlack;
                                line-height: 1.4;

                                &:first-of-type {
                                    padding-left: 30px;
                                }
                            }

                            > a {
                                justify-self: end;
                                cursor: pointer;

                                &:last-of-type {
                                    padding-right: 30px;
                                }

                                > svg {
                                    width: 20px;
                                    height: 20px;
                                    fill: $main2;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &__button {
        position: relative;

        &__point {
            position: absolute;
            top: 50%;
            left: -40px;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: $main1;
        }
    }
}
