/*********************************************
FORMS
*********************************************/

form {
    > input[type="text"], input[type="email"], input[type="password"], input[type="search"], input[type="tel"], input[type="url"], textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 10px;
        border: 2px solid $main1;
        box-shadow: none;
        display: block;
        font-size: 1rem;
        font-family: $textFont;
        line-height: 1.5;
        padding: 15px 20px;
        transition: border-color 0.15s $ease, box-shadow 0.4s $ease;
        width: 94%;

        &:focus {
            box-shadow: 0 0 5px 1px $main1;
            outline: 0;
            border: 2px solid $main3;
        }
    }

    label {
        font-family: $titleFont;
        color: $label;
        text-transform: none;
        font-weight: 500;
        font-size: $mediumSize;
        opacity: 1;
    }

    select {
        outline: none;
    }

    .form__email, .form__password {
        margin-bottom: 20px;

        > label {
            display: inline-block;
            margin-bottom: 8px;
        }

        &__forgot {
            display: inline-block;
            margin-left: 10px;
            font-family: $textFont;
            font-size: $smallSize;
            color: $main3;
            text-decoration: underline;
            transition: color 0.15s $ease;
            margin-top: 5px;

            &:hover {
                color: $main1;
            }
        }
    }

    .form__buttonContainer {
        text-align: right;
    }

    //input[type="text"], input[type="email"], input[type="file"], select {
    //    border-bottom: 1px solid $grey;
    //    //padding: 4px 14px;
    //    //padding-left: 0;
    //    //font-size: $normalSize;
    //    height: 40px;
    //    line-height: 40px;
    //    font-family: $textFont;
    //    background: none;
    //    color: $grey; // $secondary
    //    font-weight: normal;
    //    width: 100%;
    //
    //    &::placeholder {
    //        color: $main1;
    //        font-weight: normal;
    //    }
    //}

    // CV
    //input[type="file"] {
    //    padding-left: 80px; // space for label
    //    direction: rtl; // file and button
    //
    //    @media all and (max-width: 600px) {
    //        padding-left: 40px;
    //    }
    //}

    // ckeckboxgdpr
    //input[type="checkbox"] {
    //    width: auto;
    //
    //    & + label {
    //        font-size: $smallSize;
    //        font-weight: lighter;
    //        color: $main1;
    //        text-transform: none;
    //        padding-left: 20px;
    //    }
    //}

    //textarea {
    //    width: 100%;
    //    max-width: 100%;
    //    height: 140px;
    //    //resize: none; // avoid break css
    //    resize: vertical;
    //
    //    border-bottom: 1px solid $grey;
    //    padding: 4px 14px;
    //    padding-left: 0;
    //    font-size: $normalSize;
    //    line-height: 50px;
    //    font-family: $textFont;
    //    background: none;
    //    border-radius: 0;
    //    color: $grey; // $secondary
    //    font-weight: normal;
    //    width: 100%;
    //
    //    &::placeholder {
    //        color: $main1;
    //        font-weight: normal;
    //    }
    //}
}



