/*********************************************
    Modal GLOBAL
*********************************************/

.welcomeModal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;

    &__contentContainer {
        background-color: $white;
        border-radius: 14px;
        position: relative;

        &__content {
            position: relative;

            &__closeContainer {
                background: none;
                border: none;
                position: absolute;
                top: 30px;
                right: 30px;
                cursor: pointer;
                outline: none;

                &__svg {
                    fill: $main1;
                    width: 16px;
                    height: 16px;
                }
            }

            &__formContainer {
                padding: 60px;

                &__form {
                    // Voir forms.scss

                    &__title {
                        font-family: $titleFont;
                        color: $main1;
                        font-size: $xx-largeSize;
                        font-weight: 700;
                        margin-bottom: 30px;
                    }
                }
            }

            // Splitter for Welcome Modal
            &__splitter {
                display: grid;
                grid-template-columns: 1fr 1fr;
                height: 100%;

                &__left {
                    position: relative;
                    background-color: $main5;
                    border-radius: 14px 0 0 14px;
                    padding: 50px 70px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    &__illu {
                        position: absolute;

                        &--first {
                            right: 0;
                            top: 20px;
                        }

                        &--second {
                            left: 0;
                            bottom: 160px;
                        }
                    }

                    &__welcome {
                        font-family: $textFont;
                        font-weight: 500;
                        font-size: $largeSize;
                        color: $main1;
                    }

                    &__logo {
                        align-self: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 20px;

                        > svg {
                            fill: $main1;
                            width: 170px;
                            height: 170px;
                        }
                    }

                    &__register {
                        font-family: $textFont;
                        font-size: $normalSize;
                        color: $main1;
                        margin-top: 20px;

                        > a {
                            margin-left: 5px;
                            color: $main1;
                            font-weight: 700;
                            text-decoration: underline;

                            &:hover {
                                color: $blue;
                            }
                        }
                    }
                }

                &__right {
                    padding: 50px 70px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    overflow: scroll;

                    &__closeContainer {
                        background: none;
                        border: none;
                        position: absolute;
                        top: 30px;
                        right: 30px;
                        cursor: pointer;
                        outline: none;

                        &__svg {
                            fill: $main1;
                            width: 16px;
                            height: 16px;
                        }
                    }

                    &__formContainer {

                        &__form {
                            // Voir forms.scss

                            &__title {
                                font-family: $titleFont;
                                color: $main1;
                                font-size: $xx-largeSize;
                                font-weight: 700;
                                margin-bottom: 30px;
                            }
                        }
                    }
                }
            }
        }

        &--createJiriModal{
            width: 90%;
            min-width: 900px;
            max-width: 1500px;
            min-height: 200px;
            height: 90%;
            max-height: 900px;

            .modal__contentContainer__content{
                height: 100%;
            }
            .modal__contentContainer__content__formContainer{
                height: calc(100% - 120px);
            }
        }

        &--showJiriModal{
            width: 80%;
            min-width: 900px;
            max-width: 1500px;
            min-height: 200px;
            max-height: 900px;
        }

        &--createProjectModal{
            width: 70%;
            min-width: 500px;
            max-width: 800px;
            max-height: 900px;
        }

        &--updateProjectModal{
            width: 70%;
            min-width: 500px;
            max-width: 800px;
            max-height: 900px;
        }

        &--showProjectModal{
            width: 70%;
            min-width: 500px;
            max-width: 800px;
            max-height: 900px;
        }

        &--createContactModal{
            width: 70%;
            min-width: 400px;
            max-width: 700px;
            max-height: 900px;
        }

        &--updateContactModal{
            width: 70%;
            min-width: 400px;
            max-width: 700px;
            max-height: 900px;
        }

        &--showContactModal{
            width: 70%;
            min-width: 400px;
            max-width: 500px;
            max-height: 900px;
        }

        &--welcomeModal{
            min-width: 900px;
            width: 90%;
            max-width: 1400px;
            height: 90%;
            min-height: 550px;
            max-height: 900px;

            .modal__contentContainer__content{
                height: 100%;
            }
            .modal__contentContainer__content__formContainer{
                height: calc(100% - 120px);
            }
        }
    }
}
