/*********************************************
    fakeLink
*********************************************/
.fakeLink {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    color: $blue;

    &:hover {
        color: $main2;
    }
}

/*********************************************
    Scrollbar Customization
*********************************************/
html, body {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: $main1 #eee; /* For Firefox */
    overflow: auto;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    //width: 12px; /* Width of the entire scrollbar */
    //height: 12px; /* Height of the scrollbar (for horizontal scroll) */
}

html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background-color: $main1; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
    border: 3px solid #f1f1f1; /* Padding around thumb */
}

html::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover {
    background: $main1; /* Color of the scrollbar thumb when hovered */
}

html::-webkit-scrollbar-corner, body::-webkit-scrollbar-corner {
    background-color: transparent; /* Corner between horizontal and vertical scrollbar */
}
