/*********************************************
    APPBARSIMPLE
*********************************************/

.jiriCreate {
    width: 100%;

    &__contentContainer {
        width: 100%;

        > .wrapper {
            margin: 0 50px;
        }

        &__title {
            font-family: $titleFont;
            font-size: $x-largeSize;
            color: $main1;
            font-weight: bold;
            margin-bottom: 20px;
        }

        &__text {
            font-family: $textFont;
            font-size: $normalSize;
            color: $lightBlack;
            margin-bottom: 40px;
        }

        &__formContainer {
            width: 100%;
            position: relative;

            &__line {
                // make a vertical line positionned at the left of the form
                position: absolute;
                top: 0;
                left: -28px;
                width: 1px;
                height: 100%;
                background-color: $main1;

            }

            &__form {
                width: 100%;

                &__infos {
                    position: relative;
                    background-color: $white;
                    padding: 30px;
                    border-radius: 10px;
                    display: grid;
                    grid-template-columns: 2fr 1fr 1fr;
                    align-items: center;
                    justify-content: space-between;
                    gap: 20px;
                    margin-bottom: 30px;

                    &__point {
                        position: absolute;
                        top: 50%;
                        left: -40px;
                        transform: translateY(-50%);
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background-color: $main1;
                    }
                }

                &__projects {
                    position: relative;
                    background-color: $white;
                    padding: 30px;
                    border-radius: 10px;
                    margin-bottom: 30px;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: start;
                    justify-content: space-between;
                    gap: 0 100px;

                    &__point {
                        position: absolute;
                        top: 50%;
                        left: -40px;
                        transform: translateY(-50%);
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background-color: $main1;
                    }

                    &__listContainer {

                        &__top {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: 20px;

                            &__label {
                                font-family: $titleFont;
                                color: $label;
                                text-transform: none;
                                font-weight: 500;
                                font-size: $mediumSize;
                                opacity: 1;
                            }
                        }

                        &__bottom {
                            height: 300px;
                            overflow-y: scroll;
                        }

                        &__list {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            gap: 5px;

                            &__item {
                                background-color: $main5;
                                padding: 15px 0;
                                border-radius: 10px;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: space-between;
                                width: 100%;

                                > span {
                                    font-family: $textFont;
                                    font-size: $normalSize;
                                    color: $lightBlack;
                                    line-height: 1.4;
                                    padding-left: 30px;
                                }

                                > a {
                                    padding-right: 30px;
                                    cursor: pointer;

                                    > svg {
                                        width: 15px;
                                        height: 15px;
                                        fill: $main2;
                                    }
                                }
                            }
                        }
                    }

                    &__selectedContainer {

                        &__label {
                            margin-top: 15px;
                            margin-bottom: 30px;
                            font-family: $titleFont;
                            color: $label;
                            text-transform: none;
                            font-weight: 500;
                            font-size: $mediumSize;
                            opacity: 1;
                        }

                        &__bottom {
                            height: 300px;
                            overflow-y: scroll;
                        }

                        &__list {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            gap: 5px;

                            &__item {
                                background-color: $main5;
                                padding: 15px 0;
                                border-radius: 10px;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: space-between;
                                width: 100%;

                                > span {
                                    font-family: $textFont;
                                    font-size: $normalSize;
                                    color: $lightBlack;
                                    line-height: 1.4;
                                    padding-left: 30px;
                                }

                                > a {
                                    padding-right: 30px;
                                    cursor: pointer;

                                    > svg {
                                        width: 20px;
                                        height: 20px;
                                        fill: $main2;
                                    }
                                }
                            }
                        }
                    }
                }

                &__contacts {
                    position: relative;
                    background-color: $white;
                    padding: 30px;
                    border-radius: 10px;
                    margin-bottom: 20px;

                    &__point {
                        position: absolute;
                        top: 50%;
                        left: -40px;
                        transform: translateY(-50%);
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background-color: $main1;
                    }

                    &__listContainer {

                        &__top {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: 20px;

                            &__label {
                                font-family: $titleFont;
                                color: $label;
                                text-transform: none;
                                font-weight: 500;
                                font-size: $mediumSize;
                                opacity: 1;
                            }
                        }

                        &__bottom {
                            height: 300px;
                            overflow-y: scroll;
                        }

                        &__list {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            gap: 5px;

                            &__item {
                                background-color: $main5;
                                padding: 15px 0;
                                border-radius: 10px;
                                display: grid;
                                grid-template-columns: 3fr 3fr 6fr 1fr 1fr;
                                align-items: center;
                                justify-content: start;
                                width: 100%;

                                > span {
                                    font-family: $textFont;
                                    font-size: $normalSize;
                                    color: $lightBlack;
                                    line-height: 1.4;
                                    &:first-of-type {
                                        padding-left: 30px;
                                    }
                                }

                                > a {
                                    justify-self: end;
                                    cursor: pointer;

                                    &:last-of-type{
                                        padding-right: 30px;
                                    }

                                    > svg {
                                        width: 15px;
                                        height: 15px;
                                        fill: $main2;
                                    }
                                }
                            }
                        }
                    }

                    &__selectedContainer {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 0 100px;

                        &__jury {

                            &__label {
                                margin-top: 30px;
                                margin-bottom: 15px;
                                font-family: $titleFont;
                                color: $label;
                                text-transform: none;
                                font-weight: 500;
                                font-size: $mediumSize;
                                opacity: 1;
                            }

                            &__listContainer {
                                height: 300px;
                                overflow-y: scroll;

                                &__list {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    width: 100%;
                                    gap: 5px;

                                    &__item {
                                        background-color: $main5;
                                        padding: 15px 0;
                                        border-radius: 10px;
                                        display: grid;
                                        grid-template-columns: 2fr 2fr 3fr 1fr 1fr;
                                        align-items: center;
                                        justify-content: start;
                                        width: 100%;



                                        > span {
                                            font-family: $textFont;
                                            font-size: $normalSize;
                                            color: $lightBlack;
                                            line-height: 1.4;

                                            &:first-of-type {
                                                padding-left: 30px;
                                            }
                                        }

                                        > a {
                                            justify-self: end;
                                            cursor: pointer;

                                            &:last-of-type{
                                                padding-right: 30px;
                                            }

                                            >svg {
                                                width: 20px;
                                                height: 20px;
                                                fill: $main2;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &__student {

                            &__label {
                                margin-top: 30px;
                                margin-bottom: 15px;
                                font-family: $titleFont;
                                color: $label;
                                text-transform: none;
                                font-weight: 500;
                                font-size: $mediumSize;
                                opacity: 1;
                            }

                            &__listContainer {
                                height: 300px;
                                overflow-y: scroll;

                                &__list {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    width: 100%;
                                    gap: 5px;

                                    &__item {
                                        background-color: $main5;
                                        padding: 15px 0;
                                        border-radius: 10px;
                                        display: grid;
                                        grid-template-columns: 2fr 2fr 3fr 1fr 1fr;
                                        align-items: center;
                                        justify-content: start;
                                        width: 100%;

                                        > span {
                                            font-family: $textFont;
                                            font-size: $normalSize;
                                            color: $lightBlack;
                                            line-height: 1.4;

                                            &:first-of-type {
                                                padding-left: 30px;
                                            }
                                        }

                                        > a {
                                            justify-self: end;
                                            cursor: pointer;

                                            &:last-of-type{
                                                padding-right: 30px;
                                            }

                                            >svg {
                                                width: 20px;
                                                height: 20px;
                                                fill: $main2;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &__button {
                    position: relative;

                    &__point {
                        position: absolute;
                        top: 50%;
                        left: -40px;
                        transform: translateY(-50%);
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background-color: $main1;
                    }
                }
            }
        }
    }
}
