/*********************************************
    JIRIS PAGE
*********************************************/

.jiris {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    overflow: hidden;

    &__contentContainer {
        display: flex;
        flex: 1;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        overflow: hidden;

        &__header {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            gap: 25px;
            margin-bottom: 15px;

            &__top{
                margin-top: 15px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-shrink: 0;

                &__title {
                    font-family: $titleFont;
                    font-size: $xx-largeSize;
                    color: $lightBlack;
                    font-weight: bold;
                }

                &__profileContainer {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;

                    &__nameContainer {
                        &__name {
                            color: $lightBlack;
                            font-family: $textFont;
                        }
                    }

                    &__imgContainer {

                        &__img {
                            width: 100%;
                            max-width: 40px;
                            border-radius: 50%;
                        }
                    }
                }
            }

            &__bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                margin: 0 3px;

                &__searchContainer {
                    position: relative;

                    &__iconContainer {
                        position: absolute;
                        right: 15px;
                        top: 50%;
                        transform: translateY(-50%);

                        > svg {
                            fill: $main1;
                            width: 15px;
                            height: 15px;
                        }
                    }

                    &__input{
                        border: none;
                        outline: none;
                        padding: 10px 18px;
                        border-radius: 10px;
                        font-family: $textFont;
                        font-size: $normalSize;
                        color: $lightBlack;
                        background-color: $white;
                        width: 300px;
                        transition: box-shadow .4s $ease;
                        box-shadow: 2px 3px 4px -2px rgba($black, 0.25);

                        &:focus {
                            transition: box-shadow .4s $ease;
                            box-shadow: 0 0 5px 1px $main1;
                        }
                    }
                }

            }
        }

        &__tableEmpty {
            width: 100%;
            height: 100%;
            margin-top: 20vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            &__text {
                font-family: $textFont;
                font-size: $normalSize;
                color: $lightBlack;
                line-height: 1.4;
                text-align: center;
                max-width: 800px;
            }
        }

        &__tableContainer {
            width: 100%;
            overflow: hidden;

            &__table {
                // voir table.scss
            }
        }
    }
}
