// WELCOME PAGE

.welcomePage {

    .header {
        margin-top: 40px;
        margin-bottom: 100px;

        > .wrapper {
            position: relative;
            z-index: 4;
            //max-width: 1400px;
            //margin: 0 auto;
            margin: 0 50px;
        }

        &__contentContainer {
            width: 100%;

            &__content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                &__logo {
                    width: 100%;

                    &__link {
                        display: block;
                        max-width: 60px;

                        &__img {
                            width: 100%;
                        }
                    }
                }

                &__links {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;

                    &__button {
                        // voir _buttons.scss
                    }
                }
            }
        }
    }

    .banner {
        margin-bottom: 100px;

        > .wrapper {
            position: relative;
            z-index: 3;
            max-width: 1400px;
            margin: 0 auto;

            @include w1450-down {
                margin: 0 50px;
            }
        }

        &__contentContainer {
            position: relative;

            &__content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;

                &__title {
                    font-family: $titleFont;
                    font-size: $xxxxx-largeSize;
                    color: $black;
                    line-height: 1.2;
                    font-weight: bold;
                    text-align: center;
                    max-width: 80%;
                    margin-bottom: 20px;
                }

                &__text {
                    font-family: $textFont;
                    font-size: $mediumSize;
                    color: $lightBlack;
                    text-align: center;
                    line-height: 1.4;
                    max-width: 70%;
                    margin-bottom: 20px;
                }

                &__buttonContainer {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;

                    &__button {
                        // voir buttons.scss
                    }
                }
            }

            &__screen {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &__img {
                    width: 80%;
                    -webkit-box-shadow: 0 7px 35px 3px rgba($black, 0.4);
                    -moz-box-shadow: 0 7px 35px 3px rgba($black, 0.4);
                    box-shadow: 0 7px 35px 3px rgba($black, 0.4);
                    border-radius: 10px;
                    pointer-events: none;
                }
            }

            &__illu {
                position: absolute;
                z-index: -3;
                pointer-events: none;

                &--first {
                    bottom: 420px;
                    left: -150px;
                }

                &--second {
                    bottom: -50px;
                    left: inherit;
                    top: inherit;
                    right: 0;
                    //display: none;
                }
            }
        }
    }

    .features {
        background-color: $lightGrey;

        > .wrapper {
            position: relative;
            z-index: 3;
            max-width: 1400px;
            margin: 0 auto;

            @include w1450-down {
                margin: 0 50px;
            }
        }

        &__contentContainer {
            padding: 80px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__title {
                font-family: $titleFont;
                font-size: $x-largeSize;
                color: $main1;
                text-align: center;
                margin-bottom: 50px;
            }

            &__list {
                max-width: 900px;
                display: grid;
                align-items: stretch;
                justify-items: stretch;
                grid-template-columns: repeat(2, 1fr);
                width: 100%;
                gap: 20px;

                &__item {
                    background-color: $white;
                    border-radius: 10px;
                    padding: 30px;

                    &__top {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 20px;
                        margin-bottom: 20px;

                        &__iconContainer {
                            width: 50px;
                            aspect-ratio: 1/1;
                            padding: 12px;
                            border-radius: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            &--1 {
                                background-color: rgb($main5, 0.8);

                                > svg {
                                    fill: $main1;
                                }
                            }

                            &--2 {
                                background-color: rgba($green, 0.2);

                                > svg {
                                    fill: $green;
                                }
                            }

                            &--3 {
                                background-color: rgba($orange, 0.2);

                                > svg {
                                    fill: $orange;
                                }
                            }

                            &--4 {
                                background-color: rgba($purple, 0.2);

                                > svg {
                                    fill: $purple;
                                }
                            }

                            &__icon {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        &__title {
                            font-family: $titleFont;
                            font-size: $mediumSize;
                            font-weight: 500;
                            line-height: 1.4;
                            color: $black;
                            text-align: left;
                        }
                    }

                    &__text {
                        font-family: $textFont;
                        font-size: $normalSize;
                        line-height: 1.4;
                        color: $lightBlack;
                    }
                }
            }
        }
    }

    .contact {

        > .wrapper {
            position: relative;
            z-index: 3;
            max-width: 1400px;
            margin: 0 auto;

            @include w1450-down {
                margin: 0 50px;
            }
        }

        &__illustrationContainer {
            position: relative;
            width: 100%;

            &__illu {
                position: absolute;
                z-index: -3;

                &--first {
                    left: inherit;
                    bottom: inherit;
                    top: 70px;
                    right: -300px;
                }

                &--second {
                    bottom: inherit;
                    right: inherit;
                    top: 500px;
                    left: -200px;
                }
            }
        }

        &__contentContainer {
            position: relative;
            padding: 80px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__heading {
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                gap: 10px;

                font-family: $titleFont;
                font-size: $x-largeSize;
                text-align: center;
                margin-bottom: 80px;

                &__title {
                    color: $main1;
                }

                &__question {
                    color: $lightBlack;
                }
            }

            &__formContainer {
                max-width: 700px;
                width: 100%;

                &__form {
                }

                .welcome-form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 30px;

                    &__inputContainer {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        width: 100%;

                        &__input {
                        }

                        &__textarea {
                        }
                    }

                    &__button {
                        align-self: end;
                    }

                    &__row {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        gap: 20px;

                        &__input {
                            width: 100%;
                        }
                    }
                }
            }

        }
    }

    .footer {
        background-color: $main6;
        padding-top: 50px;
        padding-bottom: 10px;

        > .wrapper {
            position: relative;
            z-index: 3;
            max-width: 1400px;
            margin: 0 auto;

            @include w1450-down {
                margin: 0 50px;
            }
        }

        &__contentContainer {

            &__links {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-bottom: 30px;
            }

            &__legal {
                display: flex;
                align-items: center;
                justify-content: center;

                &__link {
                    font-family: $textFont;
                    font-size: $smallSize;
                    color: $main1;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}
