// WELCOME PAGE

.welcomePage {

    .header {
        margin-top: 40px;

        > .wrapper {
            position: relative;
            z-index: 3;
            max-width: 1450px;
            margin: 0 auto;

            @include w1450-down {
                margin: 0 50px;
            }
        }

        &__contentContainer {
            width: 100%;

            &__content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                &__logo {
                    width: 100%;

                    &__link {
                        display: block;

                        &__img {
                            width: 100%;
                            max-width: 50px;
                        }
                    }
                }

                &__links {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;

                    &__button {
                        // voir _buttons.scss
                    }
                }
            }
        }
    }
}
