/*********************************************
    CONFIRM MODAL
*********************************************/

.confirmModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &__contentContainer {
        background-color: $white;
        padding: 50px 70px;
        border-radius: 14px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        max-width: 400px;
        width: 90%;
        text-align: center;

        &__titleMessage {
            font-size: $x-largeSize;
            font-family: $textFont;
            font-weight: 600;
            color: $main1;
            line-height: 1.5;
            margin-bottom: 20px;
            padding: 0 15px;
        }

        &__message {
            font-size: $normalSize;
            font-family: $textFont;
            font-weight: 300;
            color: $lightBlack;
            line-height: 1.5;
            margin-bottom: 50px;
            padding: 0 20px;
        }

        &__buttons {
            display: flex;
            justify-content: space-between;
            align-content: center;

            &__button {

                &--confirm {
                    // voir buttons.scss
                }

                &--cancel {
                    // voir buttons.scss
                }
            }
        }
    }
}

