// main
$main1: #228BE6;
$main2: #1B70C2;
$main3: #1C7ED6;
$main4: #228BE6;
$main5: #D1ECFF;
$main6: #E7F5FF;

// basic
$white: #FFFFFF;
$lightGrey: #F1F3F5;
$grey: #ADB5BD;
$black: #000000;
$lightBlack: #141414;

// usefull
$orange: #FF8642;
$red: #FF6E65;
$darkRed: #D32F2F;
$pink: #FF58BC;
$purple: #B566FF;
$blue: #29B6F6;
$turquoise: #25C6DB;
$green: #66BB6A;
$darkGreen: #388E3C;
$appleGreen: #9CCC65;
$yellow: #FAC726;

// elements
$label: $main1;
$background: $lightGrey;

// ease for animations
$ease: cubic-bezier(.25, .46, .45, .94);
