/*********************************************
    APPBODY LAYOUT
*********************************************/

.appBody {
    width: 100%;
    background-color: $lightGrey;

    &__contentContainer {
        display: flex;
        flex-direction: row;

        &__main {
            margin: 20px 20px 20px 20px;
            width: 100%;
        }
    }
}
